<template>
  <div class="main-page">
    <div class="cards">
      <div class="cards-gear-icon" @click="showModal">
        <b-icon icon="gear" class="gear"></b-icon>
      </div>
      <div v-show="show" class="settings-modal">
        <div class="settings">
          <p>Settings</p>
          <b-icon @click="showModal" class="icon-x" icon="x"></b-icon>
        </div>
        <div class="modal-location">
          <div class="location-name">
            <div class="countries-location" v-for="city in weatherNames" :key="city.id">
              <b-icon class="border-width" icon="border-width"></b-icon>
              <p>{{city}}</p>
              <b-icon @click="deleteCountry(city.id)" class='icon-x' icon="x"></b-icon>
            </div>
          </div>
          <p class="add-location-btn">Add location:</p>
          <div class="input-add">
            <input
                    type="text"
                    placeholder="Search"
                    v-model="query"
            >
            <b-icon icon="arrow90deg-right" class="add-button" @click="fetchWeather">Add</b-icon>
          </div>
        </div>
      </div>
      <div v-if="weathers && weathers.length">
        <div class="card" v-for="weather in weathers" :key="weather.id">
          <div class="card-city" v-if="weather">
            <p>{{ weather.name }}, {{ weather.sys.country }}</p>
            <div class="card-temperature">
              <img src="../assets/weather.png" alt="img">
              <p>{{ Math.round(weather.main.temp) }}°C</p>
            </div>
            <div class="description-see">
              <p>{{ weather.weather[0].main }}</p>
              <p>{{ weather.wind.speed }}m/s SEE</p>
              <p>Humidity: {{ weather.main.humidity }}%</p>
              <p>Visibility: {{ weather.visibility }} Meter</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "WeatherWidget",
    data() {
      return {
        show: false,
        showLocation: false,
        settingsLoc: '',
        api_key: 'd82ed62c1980f93cc520227e813e0e8a',
        url_base: 'http://api.openweathermap.org/data/2.5/',
        query: '',
        weathers: [],
        weatherNames: [],
      };
    },
    methods: {
      showModal() {
        this.show = !this.show
      },
      fetchWeather() {
        fetch(`${this.url_base}weather?q=${this.query}&units=metric&APPID=${this.api_key}`)
                .then(res => {
                  return res.json();
                }).then((data) => {
          let currentIndex = this.weatherNames.indexOf(data.name);
          if (currentIndex === -1) {
            this.weatherNames.push(data.name);
            this.weathers.push(data);
          }
          this.saveWeatherCountries();
        });
      },
      saveWeatherCountries() {
        const parsed = JSON.stringify(this.weatherNames);
        localStorage.setItem('saveWeatherCountries', parsed);
      },
      deleteCountry(id){
        this.weatherNames.splice(id, 1);
        this.weathers.splice(id, 1);
      }
    },
    mounted() {
      let itemsLocalStorage = localStorage.getItem('saveWeatherCountries');
      if (itemsLocalStorage) {
        this.weather = JSON.parse(itemsLocalStorage);
      }
      if (this.query == '') {
        this.query = this.weather[0]
      }
      this.fetchWeather()
    },
  };
</script>

<style scoped>
  .main-page {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
  }
  .main-page p {
    margin: 0;
    padding: 0;
  }
  .cards {
    margin: auto;
    width: 200px;
    position: relative;
  }
  .card {
    margin-bottom: 20px;
  }
  .cards .settings-modal {
    position: absolute;
    z-index: 2;
    right: 40px;
    left: 20px;
    top: 30px;
    background-color: #fffafa;
    padding: 5px;
    border-radius: 4px;
  }

  .cards .settings-modal input {
    width: 80%;
    height: 20px;
    color: #000000;
    border: 1px solid #000000;
    font-size: 13px;
  }

  .settings-modal .settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding-left: 5%;
  }
  .input-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .add-button{
    transform: rotate(180deg);
    color: #000000;
    font-size: 15px;
    cursor: pointer;
  }
  .border-width{
    color: #000000;
    font-size: 13px;
    cursor: pointer;
  }

  .location-name {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 5px 0 0;
  }

  .modal-location p {
    font-weight: bold;
    font-size: 12px;
  }
  .settings-modal .location-name .icon-x {
    font-size: 19px;
    font-weight: bold;
  }
  .modal-location .add-location-btn{
    margin-top: 10px;
  }
  .settings p {
    font-size: 13px;
  }

  .settings .icon-x {
    font-size: 18px;
    cursor: pointer;
  }

  .settings-modal .modal-location {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;

  }

  .cards .cards-gear-icon {
    position: absolute;
    top: 19px;
    right: 20px;
    font-size: 15px;
    z-index: 1;
    cursor: pointer;
  }

  .card {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }
  .countries-location{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e9ecef;
    margin-top: 7px;
    cursor: pointer;
    width: 100%;
    padding-left: 2px;
  }
  .card-city {
    width: 100%;
    text-align: start;
  }

  .card-city p {
    font-size: 12px;
    font-weight: bolder;
  }

  .card-temperature {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }

  .card-temperature img {
    margin-right: 10px;
    height: 25px;
    width: 25px;
  }
  .card-temperature p {
    font-size: 20px;
    font-weight: bolder;
  }

  .description-see {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .description-see p {
    padding-top: 2px;
    padding-right: 10px;
    font-size: 9px;
    font-weight: 100;
  }
</style>
